In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

from subprocess import check_output
csv_location = 'input' # my local
# csv_location = '../input' # my local
print("csv files:\n" + check_output(["ls", csv_location]).decode("utf8")) # in kaggle use ../input

# Any results you write to the current directory are saved as output.

csv files:
gender_submission.csv
test.csv
train.csv

In [2]:
# Library imports
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from collections import Counter
from sklearn.metrics import accuracy_score
%matplotlib inline

pd.set_option('display.max_columns', None ) # None will display ALL columns

In [3]:
# Reading in csv data
raw_csv = csv_location + '/' + 'train.csv'
raw_df = pd.read_csv(raw_csv)
print("==Whole data set==")
raw_df.info()

==Whole data set==
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

There are 891 rows in dataset. I will do a 80/20 split to form train set and test set.

In [4]:
# Train test split, 80/20
X = raw_df.drop('Survived', axis=1) # Drop label off to form X (y will be dependable label)
y = raw_df['Survived'] # Record only the label to form y (X is the independent training set)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=137)
X_train.info()
X_train.head(3)
y_train.head(3)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 279 to 734
Data columns (total 11 columns):
PassengerId    712 non-null int64
Pclass         712 non-null int64
Name           712 non-null object
Sex            712 non-null object
Age            563 non-null float64
SibSp          712 non-null int64
Parch          712 non-null int64
Ticket         712 non-null object
Fare           712 non-null float64
Cabin          162 non-null object
Embarked       710 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 66.8+ KB

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
279,280,3,"Abbott, Mrs. Stanton (Rosa Hunt)",female,35.0,1,1,C.A. 2673,20.2500,NaN,S
418,419,2,"Matthews, Mr. William John",male,30.0,0,0,28228,13.0000,NaN,S
362,363,3,"Barbara, Mrs. (Catherine David)",female,45.0,0,1,2691,14.4542,NaN,C

279    1
418    0
362    0
Name: Survived, dtype: int64

The above is training set of 712 rows, some data sample from training set and the label.

In [5]:
# Will only investigate X_train set, not X_test
# Investigte: y_train
# Are there NaN? No.
y_train.isnull().values.any()

# In y_train, how many perished? survived?{0: 443, 1: 269}
Counter(y_train.values)
# Perished over all passengers in X_train
round(np.count_nonzero(y_train==0)/len(y_train), 2)
# predict is all 0s
predict_0 = np.zeros(len(y_test)) # if everyone perished in my prediction
print("If I predict everyone perished, per my y_test set, my accuracy would be: {:.4f}"
      .format(accuracy_score(y_test, predict_0)))

False

Counter({0: 443, 1: 269})

0.62

If I predict everyone perished, per my y_test set, my accuracy would be: 0.5922

There are no NaN in y_train. Also out of 712 passengers in X_train there are 443 perished, around 62%.<br>
If I predict everyone perished, per my test set, my accuracy would be: 0.5922<br>
This could be the benchmark for my model.

In [6]:
# If I predict randomly:
predictRandomAccuracy = 0.
howMany = 100
for n in range(howMany):
    predict_random = [np.random.randint(0,2) for i in range(len(y_test))]
    accu = accuracy_score(y_test, predict_random)
    if accu > predictRandomAccuracy: predictRandomAccuracy = accu 
print("When I predict randomly for 100 times, each time against the whole test set, " +
      "the accuracy could hit {:.4f}".format(predictRandomAccuracy))

When I predict randomly for 100 times, each time against the whole test set, the accuracy could hit 0.6313

This random prediction model performance could be another benchmark for my model.

In [7]:
# Some data clean up
# Find columns that have NaN
# missingCount = {}
# X_train_count = len(X_train)
# for m in X_train.columns:
#     sumOfNull = np.sum(X_train[m].isnull().values)
#     if sumOfNull > 0:
#         missingCount[m] = sumOfNull
# missingCount

### NaN count: {'Age': 149, 'Cabin': 550, 'Embarked': 2}

###### Cabin

In [8]:
### Another way to know the NaN count is from X_train.info(). 
### we know that Cabin has 550 unusable values out of 712. Drop this in place.
X_train_good = X_train.drop('Cabin',axis=1, inplace=False )

In [9]:
X_train_good.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 279 to 734
Data columns (total 10 columns):
PassengerId    712 non-null int64
Pclass         712 non-null int64
Name           712 non-null object
Sex            712 non-null object
Age            563 non-null float64
SibSp          712 non-null int64
Parch          712 non-null int64
Ticket         712 non-null object
Fare           712 non-null float64
Embarked       710 non-null object
dtypes: float64(2), int64(4), object(4)
memory usage: 61.2+ KB

Column Cabin is dropped. The improved training set is X_train_good.

###### Embarked

In [10]:
# Let's tackle Embarked null values
Counter(X_train['Embarked'].values)

# Find out the 2 rows 
X_train[X_train['Embarked'].isnull().values]


# embarked_survived = pd.DataFrame(X_train['Embarked'])
# embarked_survived['Survived'] = y_train
# sns.countplot(x='Embarked',data=embarked_survived, hue='Survived')

Counter({'Q': 66, nan: 2, 'S': 512, 'C': 132})

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
829,830,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0,B28,NaN
61,62,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0,B28,NaN

In [11]:
# Find out ticket similar to 113572 and where they embarked. I assume I could use the value to replace.
# import re
# def regex_ticket(astring):
#     r = re.search( r'^(11\w{4})$', astring, re.I)
#     if r: 
#         return r.group(1)
#     return np.NaN

# c = X_train['Ticket'].apply(regex_ticket) # return pandas Series, data that failed regex will get NaN
# d = c.dropna()
# d.as_matrix()

# X_train[X_train['Ticket'].str.startswith('113')]
X_train[X_train['Ticket'].str.match(r'^(113\w{3})$')][['Ticket','Embarked']]

     Ticket Embarked
54   113509        C
724  113806        S
270  113798        S
602  113796        S
694  113800        S
305  113781        S
498  113781        S
842  113798        C
449  113786        S
447  113794        S
390  113760        S
452  113051        C
467  113792        S
336  113776        S
185  113767        S
23   113788        S
782  113501        S
83   113059        S
555  113807        S
35   113789        S
151  113776        S
857  113055        S
377  113503        C
252  113514        S
137  113803        S
435  113760        S
802  113760        S
492  113787        S
383  113789        S
339  113784        S
607  113804        S
708  113781        S
3    113803        S
829  113572      NaN
763  113760        S
536  113050        S
297  113781        S
356  113505        S
61   113572      NaN
284  113056        S
331  113043        S

It is not conclusive that ticket numbering indicate Embarked port. I will assume S since it is majority for similar numbering.

In [12]:
X_train_good = X_train_good.fillna({'Embarked':'S'})
X_train_good.loc[[829, 61],['Embarked']]

    Embarked
829        S
61         S

###### Ticket

In [13]:
ticket_a = np.unique(X_train['Ticket'].values.tolist())
len(np.unique(X_train['Ticket'].values.tolist()))

564

There are no null values in Ticket and yet there are only 564 unique strings. There are duplicates, and ticket strings seems random. Same ticket string may mean they were companions, which may or may not be family or friends. This companionship may means higher survival chance. <br> 
I am thinking of making new column Companionship when ticket number are same. But I may have to further investigate if they share same Cabin, which is not useful because of lack of data.
So for now, I will droppped this column.

In [14]:
# X_train_good = X_train.drop('Ticket',axis=1, inplace=False )
# Another way
del X_train_good['Ticket']

In [15]:
X_train_good.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 279 to 734
Data columns (total 9 columns):
PassengerId    712 non-null int64
Pclass         712 non-null int64
Name           712 non-null object
Sex            712 non-null object
Age            563 non-null float64
SibSp          712 non-null int64
Parch          712 non-null int64
Fare           712 non-null float64
Embarked       712 non-null object
dtypes: float64(2), int64(4), object(3)
memory usage: 75.6+ KB

###### Names

In [67]:
# name_df = pd.DataFrame(X_train[X_train['Age'].isnull()]['Name'])
# name_df = pd.DataFrame(X_train['Name'])
# name_df.info()
# name_array = name_df['Name'].values
X_train_good['Title'] = [np.nan]*len(X_train_good)
# X_train_good.info()
name_regex = r'.*(Mrs)|(Mr)|(Dr)|(Miss)|(Master)|(Col)|(Rev)|(Major)|(Ms)|(Capt)|(Countess)|(Mme).*'
import re
# for n in name_array:
#     r = re.search(name_regex, n, re.I)
#     if r: 
#         if r.group(1): 
#     else:
#         print(n)

# def copy_2title():


def repl_w_title(a,regex=name_regex):
    import re
    r = re.search(regex, a, re.I)
    if r:
        if r.group(1): return "Mrs"
        if r.group(2): return "Mr"
        if r.group(3): return "Dr"
        if r.group(4): return "Miss"
        if r.group(5): return "Master"
        if r.group(6): return "Col"
        if r.group(7): return "Rev"
        if r.group(8): return "Major"
        if r.group(9): return "Ms"
        if r.group(10): return "Capt"
        if r.group(11): return "Countess"
        if r.group(12): return "Mme"
    else:
        return a

# X_train_good[X_train_good['Name'].str.match(name_regex)]['Name'] #.apply(copy_2title)
X_train_good['Title'] = X_train_good['Name'].apply(repl_w_title,regex=name_regex)

X_train_good.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 279 to 734
Data columns (total 10 columns):
PassengerId    712 non-null int64
Pclass         712 non-null int64
Name           712 non-null object
Sex            712 non-null object
Age            563 non-null float64
SibSp          712 non-null int64
Parch          712 non-null int64
Fare           712 non-null float64
Embarked       712 non-null object
Title          712 non-null object
dtypes: float64(2), int64(4), object(4)
memory usage: 81.2+ KB

###### Age

In [68]:
# use randomforest regressor to fill age
agedf = X_train_good.iloc[:,[1,3,4,5,6,7,8,9]]
agedf.info()
# age_x_train = X_train[X_train['Age']]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 279 to 734
Data columns (total 8 columns):
Pclass      712 non-null int64
Sex         712 non-null object
Age         563 non-null float64
SibSp       712 non-null int64
Parch       712 non-null int64
Fare        712 non-null float64
Embarked    712 non-null object
Title       712 non-null object
dtypes: float64(2), int64(3), object(3)
memory usage: 70.1+ KB

In [85]:
agedf_train = agedf[agedf['Age'].notnull()]
# agedf_train.info()
agedf_train_X = agedf_train.drop(columns='Age')
agedf_train_y = agedf_train['Age']
agedf_train_X.info()
agedf_train_X.head(3)
agedf_train_y.head(3)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 563 entries, 279 to 734
Data columns (total 7 columns):
Pclass      563 non-null int64
Sex         563 non-null object
SibSp       563 non-null int64
Parch       563 non-null int64
Fare        563 non-null float64
Embarked    563 non-null object
Title       563 non-null object
dtypes: float64(1), int64(3), object(3)
memory usage: 35.2+ KB

     Pclass     Sex  SibSp  Parch     Fare Embarked Title
279       3  female      1      1  20.2500        S   Mrs
418       2    male      0      0  13.0000        S    Mr
362       3  female      0      1  14.4542        C   Mrs

279    35.0
418    30.0
362    45.0
Name: Age, dtype: float64

In [82]:
from sklearn.metrics import r2_score

def performance_metric(y_true, y_predict):
    """ Calculates and returns the performance score between 
        true and predicted values based on the metric chosen. """
    
    # TODO: Calculate the performance score between 'y_true' and 'y_predict'
    score = r2_score(y_true, y_predict)
    
    # Return the score
    return score

In [90]:
from sklearn import preprocessing

# 1. INSTANTIATE
# encode labels with value between 0 and n_classes-1.
le = preprocessing.LabelEncoder()
agedf_train_X_2 = agedf_train_X.apply(le.fit_transform)
agedf_train_X_2.head(5)

     Pclass  Sex  SibSp  Parch  Fare  Embarked  Title
279       2    0      1      1    89         2      9
418       1    1      0      0    63         2      8
362       2    0      0      1    69         0      9
655       1    1      2      0   160         2      8
363       2    1      0      0     7         2      8

In [98]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import ShuffleSplit, GridSearchCV
from sklearn.metrics.scorer import make_scorer

DTregressor = DecisionTreeRegressor()
cvSets = ShuffleSplit(n_splits=4, test_size=.2, random_state=0)
params = {'max_depth': range(1,5)}
scoring = make_scorer(performance_metric)
gscv = GridSearchCV(estimator=DTregressor,cv=cvSets,param_grid=params,scoring=scoring)
gscv = gscv.fit(agedf_train_X_2, agedf_train_y)

gscv.best_estimator_




# from sklearn.cross_validation import train_test_split
# ageX_train, ageX_test, agey_train, agey_test = train_test_split(agedf_train_X_2, agedf_train_y, test_size = 0.2, random_state = 10)
# DTregressor.fit(ageX_train,agey_train)
# age_score = DTregressor.score(ageX_test,agey_test)
# age_score

DecisionTreeRegressor(criterion='mse', max_depth=4, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [99]:
agedf_2predict = agedf[agedf['Age'].isnull()]
agedf_2predict_X = agedf_2predict.drop(columns='Age')
agedf_2predict_X.info()




agedf_2predict_X_2 = agedf_2predict_X.apply(le.fit_transform)
agedf_2predict_y = gscv.predict(agedf_2predict_X_2)
agedf_2predict_y

<class 'pandas.core.frame.DataFrame'>
Int64Index: 149 entries, 464 to 589
Data columns (total 7 columns):
Pclass      149 non-null int64
Sex         149 non-null object
SibSp       149 non-null int64
Parch       149 non-null int64
Fare        149 non-null float64
Embarked    149 non-null object
Title       149 non-null object
dtypes: float64(1), int64(3), object(3)
memory usage: 9.3+ KB

array([ 23.72580645,  42.6       ,  23.72580645,  23.72580645,
        23.72580645,  23.72580645,  23.72580645,  23.72580645,
         7.31363636,  23.72580645,  23.72580645,  23.72580645,
        42.6       ,  23.72580645,  18.11111111,  42.6       ,
        23.72580645,  23.72580645,  23.72580645,  23.72580645,
        42.6       ,  23.72580645,  23.72580645,  23.72580645,
        23.72580645,  18.11111111,  23.72580645,  23.72580645,
        42.6       ,  23.72580645,  23.72580645,  23.72580645,
        23.72580645,  23.72580645,  23.72580645,  42.6       ,
        23.72580645,  23.72580645,  23.72580645,  23.72580645,
        42.6       ,  23.72580645,  42.6       ,  42.6       ,
        42.6       ,  23.72580645,   7.31363636,  42.6       ,
        42.6       ,   7.31363636,  23.72580645,  23.72580645,
        23.72580645,  23.72580645,  23.72580645,   7.31363636,
        42.6       ,  23.72580645,  23.72580645,  23.72580645,
        23.72580645,  23.72580645,  23.72580645,  23.72580645,
        42.6       ,  23.72580645,  23.72580645,  23.72580645,
        23.72580645,  23.72580645,  23.72580645,  23.72580645,
        42.6       ,   7.31363636,  23.72580645,  23.72580645,
        23.72580645,  23.72580645,  23.72580645,  23.72580645,
        18.11111111,  23.72580645,  23.72580645,  23.72580645,
        42.6       ,   7.31363636,  23.72580645,  42.6       ,
        23.72580645,  42.6       ,  23.72580645,   7.31363636,
        23.72580645,  23.72580645,  42.6       ,   7.31363636,
        23.72580645,   7.31363636,  42.6       ,  42.6       ,
         7.31363636,  23.72580645,  23.72580645,  23.72580645,
         7.31363636,  23.72580645,  23.72580645,  23.72580645,
        23.72580645,  23.72580645,  23.72580645,  42.6       ,
        23.72580645,  23.72580645,   7.31363636,  23.72580645,
        42.6       ,  23.72580645,  42.6       ,  23.72580645,
        23.72580645,  23.72580645,  42.6       ,  23.72580645,
        42.6       ,  42.6       ,  42.6       ,  23.72580645,
        42.6       ,  23.72580645,  23.72580645,  23.72580645,
        23.72580645,   7.31363636,  42.6       ,  23.72580645,
        23.72580645,  32.28378378,   7.31363636,  23.72580645,
        23.72580645,  23.72580645,  42.6       ,  23.72580645,
        23.72580645,  42.6       ,  42.6       ,  23.72580645,  23.72580645])